body {
  background-color: #E0E0DB;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  margin-top: 16px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  height: 40px;
}

.intro {
  display: flex;
  gap: 64px;
}

.intro p {
  font-size: 72px;
}

.intro img {
  width: 600px;
  object-fit: cover;
}

.description img {
  width: 50px;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 800px;
}

.contact-form label {
  margin-top: 1rem;
  font-weight: bold;
  color: #2f3640;
}

.contact-form input,
.contact-form textarea {
  margin-top: 0.5rem;
  padding: 0.8rem;
  border: 1px solid #dcdde1;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  border: none;
  background-color: #40739e;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #273c75;
}
